p {
	color: white
}
header li {
	list-style: none;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #ebebeb;
  background-color: #2b3e50;
}

a:link, a:visited{
	text-decoration: none;
	background-color: green;
	border: 1px solid black;
	color: #0099FF;
	display: block;
	width: relative;
	text-align: center;
	margin-bottom: 1px;
}

a:hover, a:active {
	background-color: red;
	color: purple;
}

header li:nth-child(2) {
	font-size: 24px;
}

section div:nth-child(odd) {
	background-color: gray;
}

section div:nth-child(4):hover {
	background-color: green;
	cursor: pointer;
}

#box {
	background-color: blue;
	padding: 10px 30px 10px 30px;
	border: 20px solid black;
	margin: 40px;
	width: 300px;
	box-sizing: content-box;

	height: 50px;
	margin-top: 50px;
	margin-left: 100px;
	overflow: auto;    //visible,hidden,auto,scroll
}

#content {
	background-color: #90EE90; //green
}

#content p {
	color: black;
	text-align: center;
}

#bg {
	background-image: url("pic_bg.jpg");
	background-size: 100%

}

#greeting {
	color: white;
	text-align: center;
}

#navcontainer ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
	background-color: gray;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

#navcontainer li {
	display: inline;
	float: left;
	align-items: left;
}

#navcontainer li a {
	display: block;
	padding: 16px;
	background-color: grey;
	color: white;
	text-align: center;
	text-decoration: none;
	border: none;
}

#navcontainer li a:hover {
	background-color: #111111;
}

.jumbotron {
	background-image: url(../pic_bg.png);
	background-size: cover;
	padding-bottom: 20%;
	padding-top: 20%;
	width: 100%;
}

@media ((max-width: 767px) and (min-width: 576px)) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-3 {
    width: 25%;
  }
}

form label {
	font-size: 15px;
}

div {
	padding-bottom: 20px;
}

div.footer {
	text-align: center;
}

div.footer p {
	font-size: 10px;
	
}
/*
@media (orientation: landscape) {

}

@media (min-width: 1200px) {
	
}

#media (min-width: 992px) and (max-width: 1199px) {
	
}
*/
